
@{
    ViewBag.Title = "Checkout";
}
<h2>Thông tin đặt hàng:</h2>


@*@{Html.BeginForm("Checkout", "Cart");}*@
@using (Html.BeginForm("Checkout", "Cart"))
{
    
    <div class="mx-auto" style="width: 300px;">
        
        <label>Ngày đặt: @DateTime.Now</label>
        <div class="form-group">
            <label>Ngày nhận:</label>
            <input type="date" class="form-control" name="Requre_Date" />
        </div>

        <div class="form-group">
            <label>Địa chỉ nhận:</label>
            <input type="text" class="form-control" name="Ship_Address" />
        </div>

        <div class="form-group">
            <label>Phone:</label>
            <input type="tel" class="form-control" name="Phone" />
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@*@{Html.EndForm();}*@
